.onyx-toolbar .onyx-button {
  background-color: #f9eee8;
  color: black;
}

.onyx-popup {
  color: black;
  background-color: white;
}

.onyx-menu-item:hover {
  background-color: #C0BCB9;
}

.onyx-toolbar {
  background-color: white;
  border-color: #A49F99;
}

.onyx-toolbar .onyx-input-decorator .onyx-input {
  color: black;
}

.onyx-groupbox-header {
  background-color: #33324D;
}

.baito-toolbar {
  background: transparent;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 3px solid #a49f99;
  height: 180px;
}

.baito-toolbar-logo {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  width: 614px;
  height: 109px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.baito-toolbar-actions {
  float: right;
  margin-top: -170px;
}

.search-input-decorator {
  width: 500px;
}

.search-input {
  width: 480px;
  margin: auto;
  text-align: left;
}

.search-input-container {
  text-align: center;
  display: block;
  margin-top: 15px;
}



