.info-popup-content-button {
    margin-top: 5px;
}

.login-container {
    padding: 10px;
}

.login-inputs {
    margin-left: 5px;
    margin-right: 5px;
}

.login-button {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
.action-menu {
    display: inline-block;
}
.welcome-item {
    display: inline-block;
    margin-right: 10px;
}


.register-container {
    padding: 10px;
}

.register-input-decorator {
    display: block;
}
.register-input {
    width: 100%;
}

.register-button {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.errors {
}

.error {
    color: red;
}
