.info-popup-content-button {
    margin-top: 5px;
}

.login-container {
    padding: 10px;
}

.login-inputs {
    margin-left: 5px;
    margin-right: 5px;
}

.login-button {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}